body {
    margin: 00px;
    padding: 00px;
    background: white;
}

/* shared styles */
.container {
    max-width: 1140px;
    margin: 100px auto;
}

a {
    font-family: "Inter", serif;
}

h1 {
    font-family: "Noto Serif", serif;
    color: black;
    font-size: 50px;
    font-weight: 700;
}

h1 span {
    color: rgb(233, 90, 8);
}

p {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

button:hover {

    color: white;
    box-shadow: 2px 1.5px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Header styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 00;
}

.menu {
    gap: 48px;
    justify-content: center;
    margin-top: 20px;
}

.menu li {
    color: rgb(137, 135, 161);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.menu li:nth-child(1) {
    color: rgb(37, 36, 50);

}

.menu p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

/* banner styles */
.banner-section {
    /* margin: 40px auto; */
    padding-top: 20px;
    /* background: lightseagreen; */
}

.banner-text {
    width: 50%;

}

.banner-text h1 {
    margin-bottom: 10px;
    font-size: 65px;
    text-transform: uppercase;
}

.banner-img {
    width: 50%;

}

/* our plant section style */
.our-plants-section {

    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.our-plants-section h1 {
    font-size: 50px;
}

.our-plants-section p {
    margin: 10px 40px;
}

.plant-items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

}

.plant-item {
    width: 270px;
    flex-direction: column;
    align-items: center;

}

.plant-item img {
    width: 200px;
}

.plant-item p {
    margin-top: 10px;
    color: rgb(17, 17, 17);
    font-size: 22px;
}

.plant-item h1 {
    font-family: "Inter";
    margin-bottom: 10px;
    font-size: 22px;
}

.plant-item button {
    background: rgb(233, 90, 8);
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

/* plants lover section */

.plant-lover-section {
    gap: 20px;
    justify-content: space-between;
}

.plant-lover-section-img {
    position: relative;
    width: 50%;
    /* z-index: 1; */

}
@keyframes spin {
    from {
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.Batch img{
    animation: spin 7s linear infinite;

}
.Batch {
    width: 300px;
    position: absolute;
    top: -20%;
    left: 70%;
}

.plant-lover-section-img img {
    width: 100%;
}

.plant-lover-section-text {

    width: 45%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.plant-lover-section-text h1 {
    text-align: left;
}

.plant-lover-section-text ul li {
    margin: 20px 00;
    list-style: disc;
}

/* latest deal section start here  */
.latest-deal-section {

    text-align: center;
}

.latest-deal-section p {
    margin-bottom: 20px;
}

.latest-deal-item {
    justify-content: space-between;
}

.latest-deal-left {
    width: 30%;
    flex-direction: column;
    gap: 20px;
}

.latest-deal-left h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.latest-deal-left a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.latest-deal-left .item {
    width: 100%;
    height: 200px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.bloom {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/deal-bloom.png);
}

.dal-ana {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/deal-ana.png);
}

.latest-deal-right {
    width: 67%;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/deal-zabo.png);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-size: cover;
}

.latest-deal-right h1 {
    color: white;
    font-size: 40px;
}

.latest-deal-right a {
    color: white;
    font-size: 28px;
    text-decoration: underline;
}

/* newsletter section */
.newsletter-container {
    margin: 00 auto;
    max-width: 1440px;
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    gap: 20px;

}

.newsletter-container h1 {
    color: #ffffff;
}

.input input {
    /* max-width: 640px; */
    width: 640px;
    background: white;
    padding: 4px 24px;
    margin: 00;
}

.input button {
    margin: 00;
    padding: 4px 50px;
    background: rgb(233, 90, 8);
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}

/* footer start  */
.footer-container {
    gap: 40px;
    justify-content: space-between;
}

.footer-content-1 {
    flex-direction: column;
    gap: 10px;
}

.footer-content-1 img {
    width: 135px;
}

.footer-content-2 {
    flex-direction: column;
    gap: 20px;
}


.icon {
    width: 36px;
    height: 36px;
}